* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #fafafa;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 16px 24px;
  background-color: #36b86a;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.header {
  font-size: 24px;
  font-weight: 500;
}

.link-buttons {
  display: flex;
  gap: 8px;
}

.link-buttons .button {
  color: white;
  border: 1.5px solid white;
}

.quit {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.quit-icon {
  margin-right: 4px;
}

.body-wrapper {
  flex: 1;
  display: flex;
  padding: 24px;
}

.content-wrapper {
  flex: 1;
}

.sub-heading {
  font-size: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  width: 60px;
  height: 85px;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #000000;
}

.card:hover {
  background-color: rgb(224, 224, 224);
}

.value {
  font-size: 16px;
  font-weight: 500;
}

.board-content {
  display: flex;
  justify-content: space-between;
}

.board-container {
  margin: 24px 0px;
  padding: 24px;
  display: flex;
  align-items: center;
  min-height: 300px;
  border-radius: 8px;
  background-color: rgb(226, 242, 247);
}

.home-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-heading {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}

.text {
  color: #36b86a;
}

.description {
  margin-bottom: 24px;
}

.btn-container {
  display: flex;
  align-items: center;
}

.option {
  margin: 0 12px;
}

.board-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 24px;
}

.board-card > .card {
  margin-right: 0px;
}

.card-user {
  font-size: 14px;
  color: #616161;
}

.team-wrapper {
  display: flex;
  margin-top: 16px;
}

.user {
  display: flex;
  color: #616161;
  margin-right: 16px;
  align-items: center;
}

.user-icon {
  margin-right: 4px;
}

.disabled {
  pointer-events: none;
  color: #bdbdbd;
  border: 1px solid #bdbdbd;
}

.hidden {
  background-color: #57b87e;
  padding: 42px 30px;
}

.current-user {
  color: #42a5f5;
}
